XML_lab/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="login" type="xs:string"/>
                            <xs:element name="password" type="xs:string"/>
                            <xs:element name="role" type="xs:string"/>
                            <xs:element name="issuedBooks" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="bookId"
                                                    type="xs:positiveInteger"
                                                    maxOccurs="unbounded"
                                                    minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id"
                                      type="xs:positiveInteger"
                                      use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
